.tooltip {
	position: absolute;
  background-color: #6d706c;
  color: #ffffff;
  width: auto;
  font-size: 20px;
  padding: 10px;
  border-radius:10px
}



div {
  white-space: pre-wrap;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
}
